<div class="counter__container">
  <div class="novios__picture">
    <img src="assets/images/counter-novios.png">
  </div>
  <div class="content__center">
    <p class="content-date_counter">6 DE ABRIL •2024</p>
    <h2>¡Nos casamos!</h2>
    <p class="content-share_counter">Queremos compartir este momento contigo.</p>
  </div>
  <div class="content__center counter-container__background">
    <p class="content-remaining_counter">Faltan</p>
    <div class="counter__grid">
      <div>{{days}} <br/> DIAS</div>
      <div>{{hours}} <br/> HORAS</div>
      <div>{{minutes}} <br/> MIN</div>
      <div>{{seconds}} <br/> SEG</div>
  </div>
</div>
