<div class="counter__container">
  <div class="novios__picture">
    <img src="assets/images/counter-novios.png">
  </div>
  <div class="content__center">
    <p class="content-date_counter">6 DE ABRIL •2024</p>
    <h2>¡Nos casamos!</h2>
    <p class="content-share_counter">Queremos compartir este momento contigo.</p>
  </div>
  <div class="counter-container__background">
    <div>
      <p class="content-remaining_counter">Faltan</p>
      <div class="counter__grid">
        <div class="right-border__line"><span class="time-number__style">{{days}}</span><br/><span
          class="time-text__style">DIAS</span></div>
        <div class="right-border__line"><span class="time-number__style">{{hours}}</span><br/><span
          class="time-text__style">HORAS</span></div>
        <div><span class="time-number__style">{{minutes}}</span><br/><span class="time-text__style">MIN</span></div>
      </div>
    </div>
  </div>
