<section [class.hide]="loading === false">
  <app-loading></app-loading>
</section>
<section [class.hide]="loading === true">
  <app-bildboard (goDown)="scrollToCounter()"></app-bildboard>
  <div #counterComponent>
    <app-counter></app-counter>
  </div>
  <app-where-when></app-where-when>
  <app-map></app-map>
  <app-schedule></app-schedule>
  <app-confirmation-form></app-confirmation-form>
  <app-dressing-rule></app-dressing-rule>
  <app-gifts></app-gifts>
  <app-galery></app-galery>
  <app-footer></app-footer>
  <audio #songPlayer >
    <source src="assets/audio/untilIFoundYou.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  <button class="floating-button play-button__animation" [class.hide]="playingMusic === true" (click)="playMusic()"><i class="fas fa-music"></i></button>
  <button class="floating-button" [class.hide]="playingMusic === false" (click)="muteMusic()"><i class="fas fa-volume-mute"></i></button>
</section>



