<div class="where-when__container__banner">
  <img src="assets/images/whereBanner.png">
</div>
<div class="guirnalda--centered__style"></div>
<div class="where-when__container">
  <section class="main--where content__center" [class.active]>
    <img class="icon__size" src="assets/images/ring-icon.png"/>
    <h2>¿Dónde & cuándo?</h2>
    <img class="arrows__size" src="assets/images/doubleArrows.png"/>
    <p class="date__content">6 de abril § 2024</p>
    <p class="date__content">14:00</p>
    <p class="address__style">Calle Paititi ∞ Comunidad Sirpita,Tiquipaya</p>
    <p>(Tras el Templo de Sirpita)</p>
    <img class="yellow-flowers__size" src="assets/images/yellowBucket.png"/>
    <img class="arrows__size" src="assets/images/doubleArrows.png"/>
  </section>
  <!--<section class="speech&#45;&#45;when content__center">
    <img class="icon__size" src="assets/images/bible-icon.png"/>
    <h2>CONSEJO BIBLICO</h2>
    <img src="assets/images/curved-lines.png"/>
    <p class="time__style">16:00pm</p>
    <img src="assets/images/olive-leaves.png">
    <img class="arrows__size" src="assets/images/doubleArrows.png"/>
  </section>-->
  <!--<section class="party&#45;&#45;when content__center">
    <div class="tree-column__grid">
      <img class="sparks__position" src="assets/images/sparks.png">
      <img class="icon__size" src="assets/images/cake-icon.png">
      <img class="sparks__position" src="assets/images/sparks.png">
    </div>
    <h2>FIESTA</h2>
    <img src="assets/images/curved-lines.png"/>
    <p class="time__style">17:00pm</p>
    <img src="assets/images/rose-bouket.png" />
  </section>-->
</div>
