<div class="panel__background--main">
  <div class="loading-panel">
    <div class="tree-column__grid">
      <div class="flower-up-right"></div>
      <div></div>
      <div class="flower-up-left"></div>
    </div>
    <div class="content__center">
      <div class="logo__background"></div>
      <div class="loading-text">Cargando</div>
    </div>
    <div class="tree-column__grid">
      <div class="branch-down-left"></div>
      <div></div>
      <div class="branch-down-right"></div>
    </div>
    <div class="four-column__grid">
      <div class="sparks-down-up"></div>
      <div class="flower-center_big"></div>
      <div class="sparks-down-up"></div>
    </div>
  </div>
</div>
