<div class="galery__container">
  <div class="content__center">
    <img class="icon__size" src="assets/images/hearthIcon.png"/>
    <h2>Retratos de Nuestro Amor</h2>
    <p>"Ponme como un sello sobre tu corazón, como un sello sobre tu brazo,
      porque el amor es tan fuerte como la muerte..."</p>
    <p>Cantar de los Cantares 8:6</p>
    <img class="arrows__size" src="assets/images/doubleArrows.png"/>
    <div class="gallery">
      <div class="photo-frame__style" id="photoGallery">
        <ng-container *ngFor="let photoPath of photoPaths">
          <div class="photo__grid">
            <img class="photo-gallery" src="{{folderPath}}{{photoPath}}" (click)="openViewer(folderPath+photoPath)"/>
          </div>
        </ng-container>
      </div>
    </div>
    <img class="yellow-flowers__size" src="assets/images/yellowBucket.png"/>
  </div>
</div>

<div *ngIf="viewerOpen" class="picture-viewer">
  <div class="backdrop" (click)="closeViewer()"></div>
  <div class="image-container">
    <img [src]="selectedImageUrl" alt="Image">
  </div>
</div>
