<div class="backdrop" [class.inactive]="alertHidden">
  <div class="alert content__center">
    <h2>Ambos eventos es sin niños ni niñas</h2>
    <p>Por temas de organización, te pedimos que en esta ocasión se queden en casa.
      ¡Agradecemos de corazón tu colaboración!</p>
    <button (click)="hideAlert()">Entendido</button>
  </div>
</div>
<div class="map__container">
  <div class="content__center">
    <img class="icon__size" src="assets/images/map-icon.png"/>
    <h2>Como llegar</h2>
    <img class="arrows__size" src="assets/images/doubleArrows.png"/>
    <img src="assets/images/curved-lines.png" />
    <p class="address__style">Calle Paititi<br>Comunidad Sirpita, Tiquipaya</p>
    <p class="address-references__style"><b>Referencias: </b>Templo de Sirpita/<br> U.E. Centro de Vida</p>
    <img class="olive-leaves__style" src="assets/images/olive-leaves.png"/>
    <div class="map-frame__container">
      <a href="https://maps.app.goo.gl/8kFHB6wE2ZYsRJeP8" target="_blank">
        <img src="assets/images/google-map.PNG" />
      </a>
    </div>
  </div>
  <div class="single-flower-blc__style"></div>
</div>
