@import "../../../variables";

.input-container__style {
  margin-bottom: 20px;

  input {
    width: 100%;
    border: none;
    background-color: #FFFAE9;
    border-bottom: 1px solid #626E45;
    outline: none;
    font-size: 16px;
    padding-bottom: 5px;
    transition: border-bottom-color 0.3s ease;
  }

  input:focus {
    border-bottom-color: #2196f3;
  }

  label {
    display: block;
    margin-top: 5px;
  }
}

.alert {
  color: #b95a5a;
}
.hidden {
  display: none;
}

.heart-icon__container {
  width: 35px;
  height: 35px;
}

.icon-small__size {
  width: 30px;
  height: 30px;
  animation: bouncing 4s infinite steps(4);
  border-radius: 50px;
}

@keyframes bouncing {
  0% {
    width: 30px;
    height: 30px;
    border: 1px solid $titleTextColor;
  }
  25% {
    width: 35px;
    height: 35px;
    border: 1px solid $bodyTextColor;
  }
  50% {
    width: 25px;
    height: 25px;
    border: 1px solid $secondaryBackgroundColor;
  }
  100% {
    width: 30px;
    height: 30px;
    border: 1px solid $contrastFontColor;
  }
}
