<div  class="git__container">
  <div class="content__center">
    <img class="icon__size" src="assets/images/gift_icon.png" />
    <h2>Regalos</h2>
    <img class="arrows__size" src="assets/images/doubleArrows.png" />
    <h3>¡El mejor regalo es tu presencia!</h3>
    <p>Pero si gustas, regálanos algo  el día de la boda o deposita dinero en esta cuenta.</p>
    <img class="qr__style" src="assets/images/qr_image.png" />
    <img class="yellow-flowers__size" src="assets/images/yellowBucket.png"/>
  </div>
</div>
