<div class="schedule__container">
  <div class="content__center">
    <img class="icon__size" src="assets/images/scheduleIcon.png">
    <h2>Agenda</h2>
    <img class="arrows__size" src="assets/images/doubleArrows.png"/>
    <img src="assets/images/curved-lines.png"/>
    <ng-container *ngFor="let item of schedule">
      <app-schedule-item [itemText]="item.text" [itemTime]="item.time"></app-schedule-item>
    </ng-container>
    <img src="assets/images/olive-leaves.png" />
  </div>
  <div class="content__center">
    <img class="icon__size" src="assets/images/scheduleIcon.png" />
    <h2>Evento por Zoom</h2>
    <img class="arrows__size" src="assets/images/doubleArrows.png" />
    <a class="button" href="https://us04web.zoom.us/j/9542582987?pwd=U1MvZ25ZbHI4N29WTE9USWEyeUMxdz09" target="_blank">Unete a Zoom aqui!</a>
    <div class="zoom-meeting-det__style">
      <p><b>Meeting ID:</b><i>954 258 2987</i></p>
      <p><b>Password:</b><i>5f1oLn</i></p>
    </div>
  </div>
</div>

