/* You can add global styles to this file, and also import other style files */
$mainBackgroundColor: #F9EEDD;
$secondaryBackgroundColor: #FFFAE9;
$titleTextColor: #626E45;
$contrastFontColor: #C4854B;
$secondaryTextColor: #8B4C1F;
$bodyTextColor: #736C66;

@mixin background__position($size, $position: center) {
  background-size: $size;
  background-position: $position;
  background-repeat: no-repeat;
}

.panel__background--main {
  background-color: $mainBackgroundColor;
}
.panel__background--secondary {
  background-color: $secondaryBackgroundColor;
  padding: 10px;
  border-radius: 20px;
}

.content__center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  flex-direction: column;
}

body {
  background-color: $mainBackgroundColor;
  margin: 0px;
}

.loading-panel {

}

.logo__background {
  width: 143px;
  height: 58px;
  background-image: url("assets/images/Capa_1.png");
  @include background__position(cover)
}

.loading-text {
  color: $contrastFontColor;
  position: relative;
}

.loading-text::after {
  content: "";
  position: absolute;
  animation: loading-dots 1s infinite steps(4);
}

@keyframes loading-dots {
  0%, 100% {
    content: "";
  }

  25% {
    content: ".";
  }

  25% {
    content: "..";
  }

  75% {
    content: "...";
  }
}

/*flowers*/

.flower__3grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.flower__4grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

@mixin flower__size($w, $h) {
  position: relative;
  width: $w;
  height: $h;
}

.flower-up-right {
  background-image: url("assets/images/flower-up-left4.png");
  @include background__position(contain);
  @include flower__size(30vw, 15vh);
}

.flower-up-left {
  background-image: url("assets/images/flower-up-right.png");
  @include background__position(contain);
  @include flower__size(30vw, 15vh);
}


.branch-down-left {
  background-image: url("assets/images/branch-left.png");
  @include background__position(contain);
  @include flower__size(30vw, 20vh);
}

.branch-down-right {
  background-image: url("assets/images/branch-right.png");
  @include background__position(contain);
  @include flower__size(30vw, 20vh);
}

.sparks-down-up {
  background-image: url("assets/images/sparkLeft.png");
  @include background__position(contain, bottom);
  @include flower__size(15vw, 25vh);
  align-self: end;
}

.flower-center_big {
  background-image: url("assets/images/big-flower.png");
  @include background__position(contain);
  @include flower__size(50vw, 25vh);
}

/*bildboard styles */
.bildboard__background {
  img {
    width: 100%;
    height: 100%;
  }

  .button__go-down {
    position: absolute;
    top: 73vh;
  }
}

/* counter */
.counter__container {
  border-radius: 20px;
  margin: 30px;
  background-color: $secondaryBackgroundColor;

  h2 {
    color: $titleTextColor;
    font-size: 32px;
    font-weight: bold;
    margin: 10px;
  }

  p.content-share_counter {
    font-size: 16px;
    color: $bodyTextColor;
    margin: 0px;
  }

  p.content-remaining_counter {
    font-size: 24px;
    color: $bodyTextColor;
    font-weight: bold;
    margin: 0px;
  }

  p.content-date_counter {
    font-size: 12px;
    color: $secondaryTextColor;
    margin: 0px;
  }

  .novios__picture {
    img {
      width: 100%;
      height: 100%;
    }
  }

  .counter__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .counter-container__background {
    background-image: url("assets/images/counter-background.png");
    @include background__position(contain);
  }
}
