/* You can add global styles to this file, and also import other style files */

/* imports */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Variables */
$mainBackgroundColor: #F9EEDD;
$secondaryBackgroundColor: #FFFAE9;
$titleTextColor: #626E45;
$contrastFontColor: #C4854B;
$secondaryTextColor: #8B4C1F;
$bodyTextColor: #736C66;

@mixin background__position($size, $position: center) {
  background-size: $size;
  background-position: $position;
  background-repeat: no-repeat;
}

@mixin inner__container {
  border-radius: 20px;
  margin: 10px 30px;
  background-color: $secondaryBackgroundColor;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.panel__background--main {
  background-color: $mainBackgroundColor;
}

.panel__background--secondary {
  background-color: $secondaryBackgroundColor;
  padding: 10px;
  border-radius: 20px;
}

.content__center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

img.icon__size {
  margin-top: 20px;
}

body {
  background-color: $mainBackgroundColor;
  margin: 0;
}

.loading-panel {

}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 1; /* ensure it's above other content */
  display: flex;
  justify-content: center; /* horizontally center content */
  align-items: center; /* vertically center content */

  .alert {
    width: 70vw;
    height: 25vh;
    border-radius: 20px;
    padding: 25px;
    background-color: #FFFFFF;

    h2 {
      color: $titleTextColor;
      font-size: 16px;
      font-weight: bold;
      font-family: 'Libre Baskerville', serif;
      text-align: center;
    }

    p {
      color: $bodyTextColor;
      font-size: 14px;
      font-weight: normal;
      font-family: 'Nunito Sans', serif;
      text-align: center;
    }
  }
}

button, a.button {
  background-color: #626E45;
  color: #FFFFFF;
  padding: 15px;
  width: 70%;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Libre Baskerville', serif;
  border-radius: 40px;
  text-decoration: none;
}

.backdrop.inactive {
  display: none;
}

img.arrows__size {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70vw;
  height: 2vh;
}

.right-border__line {
  border-right: 2px solid #F9CCB4;
  padding-right: 15px;
  padding-left: 15px;
}

.rose-centered__style {
  @include background__position(cover);
  background-image: url("assets/images/confirmationFormFlowers.png");
  width: 30vw;
  height: 10vh;
  top: -39px;
  position: relative;
  left: 35%;
  margin-bottom: -70px;
}


.logo__background {
  width: 143px;
  height: 58px;
  background-image: url("assets/images/Capa_1.png");
  @include background__position(cover)
}

.loading-text {
  color: $contrastFontColor;
  position: relative;
}

.loading-text::after {
  content: "";
  position: absolute;
  animation: loading-dots 1s infinite steps(4);
}

@keyframes loading-dots {
  0%, 100% {
    content: "";
  }

  25% {
    content: ".";
  }

  25% {
    content: "..";
  }

  75% {
    content: "...";
  }
}

/*flowers*/

.two-column__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tree-column__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.four-column__grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

@mixin flower__size($w, $h) {
  position: relative;
  width: $w;
  height: $h;
}

.flower-up-right {
  background-image: url("assets/images/flower-up-left4.png");
  @include background__position(contain);
  @include flower__size(30vw, 15vh);
}

.flower-up-left {
  background-image: url("assets/images/flower-up-right.png");
  @include background__position(contain);
  @include flower__size(30vw, 15vh);
}


.branch-down-left {
  background-image: url("assets/images/branch-left.png");
  @include background__position(contain);
  @include flower__size(30vw, 20vh);
}

.branch-down-right {
  background-image: url("assets/images/branch-right.png");
  @include background__position(contain);
  @include flower__size(30vw, 20vh);
}

.sparks-down-up {
  background-image: url("assets/images/sparkLeft.png");
  @include background__position(contain, bottom);
  @include flower__size(15vw, 25vh);
  align-self: end;
}

.flower-center_big {
  background-image: url("assets/images/big-flower.png");
  @include background__position(contain);
  @include flower__size(50vw, 25vh);
}

/*bildboard styles */
.bildboard__background {
  img {
    width: 100%;
    height: 100%;
    margin-top: -27px;
  }

  .button__go-down {
    position: absolute;
    top: 73vh;
  }
}

/* counter */
.counter__container {

  @include inner__container;

  h2 {
    font-family: 'Libre Baskerville', serif;
    color: $titleTextColor;
    font-size: 32px;
    font-weight: bold;
    margin: 10px;
  }

  p.content-share_counter {
    font-size: 16px;
    color: $bodyTextColor;
    margin: 0;
  }

  p.content-remaining_counter {
    font-family: "Libre Baskerville", sans-serif;
    font-size: 24px;
    color: $bodyTextColor;
    font-weight: 700;
    line-height: 43.44px;
    margin-top: -30px;
    margin-bottom: 0px;
  }

  p.content-date_counter {
    font-size: 12px;
    color: $secondaryTextColor;
    margin: 0;
  }

  .novios__picture {
    padding-top: 40px;
    margin-left: -40px;
    margin-right: -40px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .counter__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .counter-container__background {
    background-image: url("assets/images/counter-background.png");
    min-height: 30vh;
    @include background__position(contain);
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-align: center;
    display: flex;
    margin-bottom: 20px;
  }

  .time-number__style {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: $titleTextColor;
  }

  .time-text__style {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
    color: $secondaryTextColor;
  }

  .pink-rose__centered_style {
    @include background__position(cover);
    background-image: url("assets/images/pinkRose.png");
    width: 50vw;
    height: 12vh;
    top: -39px;
    position: relative;
    left: 25%;
    margin-bottom: -80px;
  }

}

/*where when */
.where-when__container__banner {
  img {
    width: 100vw;
    height: 30vh;
  }
}

.guirnalda--centered__style {
  @include background__position(cover);
  background-image: url("assets/images/flowersGuirnalda.png");
  width: 56vw;
  height: 10vh;
  top: -39px;
  position: relative;
  left: 22%;
  margin-bottom: -70px;
}

.where-when__container {
  @include inner__container;

  h2 {
    font-family: 'Libre Baskerville', serif;
    color: $titleTextColor;
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
  }

  p.time__style {
    font-family: 'Libre Baskerville', serif;
    color: $secondaryTextColor;
    font-weight: bold;
    font-size: 24px;
  }

  .main--where {
    img.icon__size {
      width: 48px;
      height: 48px;
    }
  }

  img.arrows__size {
    width: 70vw;
    height: 2vh;
  }

  p.date__content {
    font-weight: bold;
    font-size: 24px;
    color: $secondaryTextColor;
  }

  p.date__content::after {
    content: url("assets/images/green-leaves-small-right.png");
  }

  p.date__content::before {
    content: url("assets/images/green-leaves-small-left.png");
  }

  p.address__style {
    font-family: 'PT Serif', serif;
    font-weight: normal;
    font-size: 16px;
    color: $bodyTextColor;
  }

  img.yellow-flowers__size {
    width: 70vw;
    height: 15vh;
  }

  .speech--when {
    img.icon__size {
      width: 181px;
      height: 122px;
    }
  }

  .party--when {
    img.sparks__position {
      align-self: center;
    }
  }

}

/* map */
.map__container {
  @include inner__container;

  h2 {
    font-family: 'Libre Baskerville', serif;
    color: $titleTextColor;
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
  }

  img.arrows__size {
    width: 70vw;
    height: 2vh;
  }

  p.address__style {
    font-family: 'Nunito Sans', serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21.98px;
    color: $bodyTextColor;
    text-align: center;
    white-space: pre-line;
    margin: 0px;
  }

  p.address-references__style {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 14px;
    color: $titleTextColor;
    margin: 0px;
    line-height: 21.98px;
  }

  .olive-leaves__style {
    width: 20vh;
    margin-bottom: 20px;
  }

  .map-frame__container {
    img {
      width: 70vw;
      height: 40vh;
      border: 1px solid $titleTextColor;
      border-radius: 20px;
    }
  }

  .single-flower-blc__style {
    @include background__position(contain);
    background-image: url("assets/images/singlePinkFlower.png");
    width: 15vw;
    height: 10vh;
    top: -25px;
    position: relative;
    left: -10%;
    margin-bottom: -52px;
  }
}

/*Confirmation Form*/
.confirmation-form__backdrop {

  img {
    width: 100vw;
    height: 20vh;
  }
}

.confirmation-form__container {

  @include inner__container;

  h2 {
    font-family: "Libre Baskerville", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $titleTextColor;
  }


  .content__center {
    min-height: 0;
  }

  p.instruction__style {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    size: 14px;
    text-align: center;
    color: $bodyTextColor;
    line-height: 17px;

  }

  .four-column__grid {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  button.radio--button {
    width: 30px;
    height: 30px;
    border-color: $titleTextColor;
    border-radius: 100px;
    background-color: $secondaryBackgroundColor;
    margin-right: 10px;
  }

  button.clicked {
    background-color: $titleTextColor !important;
  }

  .four-column__grid label {
    align-self: center;
  }

  label.field-label__style {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 14px;
    color: $bodyTextColor;
  }

  button.button-confirm__style {
    background-color: #626E45;
    color: #FFFFFF;
    padding: 15px;
    width: 70%;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
    border-radius: 40px;
  }

  .centered__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-align: center;
  }
}

/* Schedule*/
.schedule__container {
  @include inner__container;

  h2 {
    font-family: "Libre Baskerville", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $titleTextColor;
  }

  img.icon__size {
    width: 48px;
    height: 48px;
  }

  .zoom-meeting-det__style {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    size: 14px;
    text-align: center;
    color: $bodyTextColor;
    line-height: 17px;
  }
}


/*UI Components*/
/* Schedule Items */
.schedule-item__container {
  .schedule-item-time__style {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    size: 16px;
    text-align: center;
    color: $secondaryTextColor;
    line-height: 25px;
  }

  .schedule-item-text__style {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    size: 14px;
    text-align: center;
    color: $bodyTextColor;
    line-height: 17px;
  }
}
