<div class="dressing-rule__container">
  <div class="content__center">
    <img class="icon__size" src="assets/images/hearthIcon.png" />
    <h2>Sugerencia de vestimenta</h2>
    <img class="arrows__size" src="assets/images/doubleArrows.png" />
    <div class="dressing-rule__item_style">
      <div class="hat-icon__container">
        <img class="hat-image__style" src="assets/images/woman-hat.png">
      </div>
      <div class="dressing-rule-text__container">
        <div class="woman-corner-icon__style"></div>
        <h3>Mujeres</h3>
        <p>Vestimenta elegante.<br>Evitar usar blanco o rojo.</p>
        <img src="assets/images/thin-curved-lines.png">
      </div>
    </div>
    <div class="dressing-rule__item_style">
      <div class="hat-icon__container">
        <img class="hat-image__style" src="assets/images/man-hat.png">
      </div>
      <div class="dressing-rule-text__container">
        <div class="man-corner-icon__style"></div>
        <h3>Hombres</h3>
        <p>Vestimenta elegante.<br>Evitar usar plomo.</p>
        <img src="assets/images/thin-curved-lines.png">
      </div>
    </div>
    <img class="yellow-flowers__size" src="assets/images/yellowBucket.png"/>
  </div>
</div>
